{% set current_path = "" %} {% if page is defined %} {% set current_path = page.path %} {% elif
section is defined %} {% set current_path = section.path %} {% endif %}

<header class="sticky top-0 w-full z-10">
    <nav class="bg-neutral-950">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="pt-4 pb-3">
                <a href="{{ get_url(path='/') }}" aria-label="{{ res.aria_to_homepage }}"
                    class="text-6xl odibee-sans-regular text-neutral-100 hover:text-neutral-400 transition"
                >
                    anisotropic
                </a>
            </div>
        </div>
    </nav>
</header>
